*
!.gitignore
!README.md

# Setup scripts
!setup.sh
!setup-ubuntu.sh

# Editor configs
!nvim/
!nvim/**
nvim/plugin/**
!nvim/lazy/
!helix/
!helix/**

# Terminal configs
!ghostty/
!ghostty/**

# Shell configs
!oh-my-posh/
!oh-my-posh/**

# File manager
!yazi/
!yazi/**

# Git config
!git/
!git/**

# Other
!requirements.txt
